body{
    background-color:rgb(198, 220, 186);
}
#score{
font-size: 20px;
float:left;
}
#timer{
    font-size: 20px;
    float: right;
    margin-right: 190px;
}
.sketches{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: black;
    background-color: antiquewhite;
    text-align: center;
}
#show_sketch{
    float: right;
}